<div class="table-container">
    <h1>OEE</h1>
    <table>
        <thead>
            <tr>
                <th class="th-0">------------------</th>
                <th class="th-0">Descripcion</th>
                <th class="th-1">Imagen de referencia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/RPAs/IE Maestro.xlsm" target="_self">4Steps Template</a></p>
                </td>
                <td>
                    <p><b>Formato oficial para llenado de 4steps:</b></p>
                    <p>Este archivo te servira para llenar la informacion extraida del Power BI del OEE. 
                    <br>
                    <br>
                    <!-- <b>Recomendiaciones de uso:</b> Para ejecutar es necesario tener abierta la aplicacion de SAP, ya que la informacion es obtenida directamente de esta aplicacion. -->
                    </p>
                </td>
                <td>
                    <img src="/Digitalizacion_SAP_MES/assets/images/IE Maestrox.PNG" alt="UX">
                </td>                    
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/RPAs/Descarga automatica BOM con referenciasx.xlsm" target="_self">Dashboard OEE</a></p>
                </td>
                <td>
                    <p><b>Link directo al Power BI para analisis del OEE:</b></p>
                    <p>Este dashboard nos ayuda para obtener de manera directa toda la informacion relacionada.
                    <br>
                    <br>
                    <!-- <b>Recomendiaciones de uso:</b> Para ejecutar es necesario tener abierta la aplicacion de SAP, colocar los numeros de parte de las PCBs con terminacion 00 y una vez finalizada podras revisar el file en la carpeta de descargas. -->
                    </p>
                </td>
                <td>
                    <img src="/Digitalizacion_SAP_MES/assets/images/BOM_Referenciasx.PNG" alt="UX">
                </td>                    
            </tr>              
        </tbody>    
    </table>
</div>