<div class="table-container">
    <h1>Manuales y ayudas</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>      
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/11.-Cómo ingresar un ticket para IE SAP.pdf" target="_self">0.MANUAL_CREACION_DE_TICKETS</a></p>
                </td>
                <td>
                    <p><b>Manual para creacion de tickets de SAP:</b></p>
                    <p>En este manual podrás encontrar los pasos e información que se debe tomar en cuenta al momento de crear un ticket para SAP.</p>
                </td>                  
            </tr>  
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/0. PARAMETROS_ESTANDAR_IE_V5.xlsx" target="_self">1. PARAMETROS_ESTANDAR_IE_V5</a></p>
                </td>
                <td>
                    <p><b>Template para parametros estandar IE:</b></p>
                    <p>En este archivo podrás encontrar información de consulta estándar para la creación de rutas como lo son los WC por cada BA y SMT, la configuración del material group, información de PSA y stock placement, product version, etc.</p>
                </td>                  
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/1. PARO_LINEA_ORDENES_RUNNING_CHANGE.xlsx" target="_self">2. PARO_LINE_ORDER_RUNNING_CHANGE</a></p>
                </td>
                <td>
                    <p><b>Checklist de paro de linea por running change:</b></p>
                    <p>En este archivo podemos encontrar puntos a tomar en cuenta cuando se va realizar un paro de línea por runing change-corrida controlada (cambio de materiales).</p>
                </td>                  
            </tr> 
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/2. Manual_MAKE_Routings.pdf" target="_self">3.MANUAL_MAKE_ROUTINGS</a></p>
                </td>
                <td>
                    <p><b>Manual de proceso, creacion y mantenimiento de rutas:</b></p>
                    <p>En este manual podrás encontrar los pasos e información que se debe tomar en cuenta al momento de solicitar la creación de una ruta productiva.</p>
                </td>                  
            </tr>       
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/12.-Cómo ingresar un ticket en caso de errores-fallas en sistema SAP.pdf" target="_self">4.MANUAL_TICKETS_ERRORES/FALLAS_EN_SAP</a></p>
                </td>
                <td>
                    <p><b>Manual para tickets por errores en sistema SAP:</b></p>
                    <p>En este manual podrás encontrar los pasos para ingresar tickets por errores o fallas en el sistema de SAP.</p>
                </td>                  
            </tr>          
        </tbody>    
    </table>
</div>
