
<div class="video-container">
    <div class="titulo">
        <h1>Tutoriales sobre llenado de templates</h1>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/1.- IE_SAP_Consulta_Comp_Allocation_PPRTG03.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consultar Component Allocation en SAP <br>(PPRTG03)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/2.- IE_SAP_Validacion_Product_Version_Masivo.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consultar product version de manera masiva <br>(/CASWW/PP_APO_LIST)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/3.- IE_SAP_Consulta_PSA_&_Stock_Placement.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consulta de PSA y Stock placement <br> (/CASWW/SE16D)</p>
    </div>
    <!-- <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/4.- IE_SAP_Revisión_CoGi_Data_Cleansing_(IEs Meeting).mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>AAAAAAAAA</p>
    </div> -->
    <!-- <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/5.- IE_SAP_Creación_instrucción_de_empaque.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Instrucciones de empaque</p>
    </div> -->
    <!-- <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/6.- IE_SAP_Creación_packing_determination.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>XXXXXXXXXXXXXXXXXX</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/7.- IE_SAP_Envío_de_Idocs_PIs_a_MES.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>XXXXXXXXXXXXXXXXXX</p>
    </div> -->
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/8.- IE_SAP_Visualizacion_Sort_String_(designadores).mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consulta de referencias (designadores) en BOM <br>(/CASWW/PP_BOM_UNICAM)</p>
    </div>
    <!-- <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/9.- IE_SAP_Creación_estaciones_de_empaque.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>XXXXXXXXXXXXXXXXXX</p>
    </div> -->
    <!-- <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/10.- IE_SAP_Llenado_template_estructuras.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>XXXXXXXXXXXXXXXXXX</p>
    </div> -->
    <!-- <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/11.-IE_SAP_Creation_mBOM_from_eBOM.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>XXXXXXXXXXXXXXXXXX</p>
    </div> -->
    <!-- <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/12.- IE_SAP_Llenado_New_Structure_template_V7.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>XXXXXXXXXXXXXXXXXXX</p>
    </div> -->
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="assets/Videos/13.- IE_SAP_Reporte_Errores_PPREM .mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consulta de errores en parametros generales<br>(/CASWW/PPREM01)</p>
    </div>
</div>
