
<div class="video-container">
    <div class="titulo">
        <h1>Tutoriales sobre llenado de templates</h1>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/2.- IE_SAP_Validacion_Product_Version_Masivo.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consultar product version de manera masiva <br>(/CASWW/PP_APO_LIST)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/3.- IE_SAP_Consulta_PSA_&_Stock_Placement.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consulta de PSA y Stock placement <br> (/CASWW/SE16D)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/4.-IE_SAP_Component_allocation_con_RPA_(IE Maestro).mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Realiza la descarga de component allocation masivo con RPA  <br> (IE Maestro)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/5.-IE_SAP_Descarga_masiva_de_rutas_con_RPA_(IE Maestro).mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Realiza la descarga de rutas de manera masiva con RPA  <br> (IE Maestro)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/6.-IE_SAP_Descarga_ruta_para_nueva_linea_de_SMT_con_RPA_(IE Maestro).mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Realiza la descarga de nuevas rutas de SMT con RPA <br> (IE Maestro)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/8.- IE_SAP_Visualizacion_Sort_String_(CASWWPP_BOM_UNICAM - CS11).mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consulta de referencias (designadores) en BOM <br>(/CASWW/PP_BOM_UNICAM)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/13.- IE_SAP_Reporte_Errores_PPREM .mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consulta de errores en parametros generales<br>(/CASWW/PPREM01)</p>
    </div>
    <div class="Caja-video">
        <video width="320" height="240" controls>
            <source src="/Digitalizacion_SAP_MES/assets/Videos/1.- IE_SAP_Consulta_Comp_Allocation_PPRTG03.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p>Consultar Component Allocation en SAP <br>(PPRTG03)</p>
    </div>
</div>
