<body>
  <header class="header">
      <div class="header-titulo">
        <img src="assets/images/logo.png" alt="Templates">
          <!-- <h1 class="header-titulo-h1">Continental Automotive</h1> -->
      </div>
      <div class="header-img">
        <a href="">
            <img src="assets/images/Continental.jpg" alt="UX">
        </a>          
      </div>
  </header>
  <main>
      <h1>Guadalajara Periferico</h1>
      <h2>Digitalización</h2>
      <div>
          <div>
              <a href="templates-sap">
                <img src="assets/images/Templates.png" alt="Templates">
                <p>Templates</p>
              </a>
          </div>

          <div>
              <a href="manuales">
                <img src="assets/images/Manuales.png" alt="Manuales">
                <p>Manuales y ayudas</p>
              </a>
          </div>

          <div>
            <a href="video-training">              
                <img src="assets/images/Video_Trainings.png" alt="Video_Trainings">
                <p>Video Trainings</p>
            </a>
          </div>

          <div>
            <a href="rpas">
                <img src="assets/images/RPA.PNG" alt="RPA">
                <p>RPA</p>
            </a>
          </div>

          <!-- <div>
            <a href="/lecciones-aprendidas"><img src="assets\images\Lessons learned.jpg" alt="Lecciones aprendidas">
                <p>Lecciones aprendidas</p>
            </a>
          </div> -->

          <div>
            <a href="http://10.218.231.128/moodle/course/view.php?id=35#">
                <img src="assets/images/Camline.png" alt="Camline">
                <p>MES Trainings</p>
            </a>
          </div>

      </div>
  </main>
</body>

<router-outlet />
<footer class="footer"> 
    <div class="footer-p">
        <p>Ultima actualizacion: <br>20.04.2024 - Versión 8 template de estructuras </p>       
    </div>
    <div class="footer-img">
        <img src="assets/images/Yo_Soy_Peri.png" alt="">
    </div>
</footer>