<div class="table-container">
    <h1>Templates de SAP</h1>
    <table>
        <thead>
            <tr>
                <th>Archivo</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>       
            <tr> 
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/1. ESTRUCTURAS_IE_SPIRIT_V8.xlsm" target="_self">1. ESTRUCTURAS_IE_SPIRIT_V7</a></p>
                </td>
                <td>
                    <p><b>Template para estructuras IE:</b></p>
                    <p>Este es el template principal para solicitar la parametría de nuevos números de parte en un cambio de ingeniería. En él se indican todas las especificaciones y peculiaridades a considerar de cada proyecto, para la transferencia y creación de dichos números en nuestro sistema NP1.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/2. NEW_COMP_ALLOC.xlsm" target="_self">2. NEW_COMP_ALLOC</a></p>
                </td>
                <td>
                    <p><b>Template para Component Allocation:</b></p>
                    <p>Template utilizado para solicitar la asignación de materiales (alocación) de acuerdo a la operación/proceso en la que son consumidos o utilizados dentro de la celda de producción, básandonos en el flujo que tiene nuestra ruta.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/3. ZMASSCA01_RUTAS_TEMPLATE_V2.xlsx" target="_self">3. ZMASSCA01_Rutas_Template_V2</a></p>
                </td>
                <td>
                    <p><b>Template para rutas:</b></p>
                    <p>Este template es para solicitar cualquier tipo de modificación que se necesite hacer en la ruta productiva o  ruta de budget en nuestro periodo de planeación financiera.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/4. ZMASSCS01_BOM_TEMPLATE.xlsx" target="_self">4. ZMASSCS01_BOM_TEMPLATE</a></p>
                </td>
                <td>
                    <p><b>Template para BOMs:</b></p>
                    <p>Este template es utilizado para solicitar cualquier modificación que se necesite hacer en nuestra BOM productiva, ya sea cambio de materiales, cantidad o modificación en los designadores (BOMs electrónicas). Cualquier cambio solicitado mediante este template debe estar sustentado por la modificación ya realizada en BOM de R&D de lo contrario la solicitud/ticket debe de ir acompañado por una desviación.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/5. ZMASSCR01_WC_TEMPLATE.xlsx" target="_self">5. ZMASSCR01_WC_TEMPLATE</a></p>
                </td>
                <td>
                    <p><b>Template para Workcenters:</b></p>
                    <p>Template utilizado para solicitar la creación de nuevos work Centers ya sea de equipos/procesos o de nuevos recursos (PSS).</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/6. STOCK_PLACEMENT_PSA_TEMPLATE.xlsx" target="_self">6. STOCK_PLACEMENT_PSA_TEMPLATE</a></p>
                </td>
                <td>
                    <p><b>Template para Stock Placement:</b></p>
                    <p>Template que nos ayuda a solicitar la modificación de los parámetros de Stock Placement y de Product Supply Area.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/7. TIME_MANAGEMENT_TEMPLATE.xlsx" target="_self">7. TIME_MANAGEMENT_TEMPLATE</a></p>
                </td>
                <td>
                    <p><b>Template para time management:</b></p>
                    <p>Template que nos ayuda a la realización de time management: el balanceo de nuestra línea de producción y la toma de tiempos.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/SapFiles/8. CLASIFICACION_ARANCELARIA_TEMPLATE.xlsx" target="_self">8.CLASIFICACION_ARANCELARIA_TEMPLAT</a></p>
                </td>
                <td>
                    <p><b>Template para clasificacion arancelaria:</b></p>
                    <p>Archivo utilizado para la solicitud de parámetros al área de tráfico para nuevos números de parte (cambios de ingeniería).</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>