<div class="table-container">
    <h1>RPAs para llenado automatico de formatos</h1>
    <table>
        <thead>
            <tr>
                <th class="th-0">Archivo</th>
                <th class="th-0">Descripcion</th>
                <th class="th-1">Imagen de referencia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/RPAs/IE Maestro V1.01.06.xlsm" target="_self">IE Maestro</a></p>
                </td>
                <td>
                    <p><b>Descarga automatica de formatos recurrentes de IE:</b></p>
                    <p>Este archivo te servira para llenar de manera automatica los formatos de alta de estructuras, component allocation y rutas.
                    <br>
                    <br>
                    <b>Recomendiaciones de uso:</b> Para ejecutar es necesario tener abierta la aplicacion de SAP, ya que la informacion es obtenida directamente de esta aplicacion.
                    </p>
                </td>
                <td>
                    <img src="/Digitalizacion_SAP_MES/assets/images/IE Maestro.PNG" alt="UX">
                </td>                    
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/RPAs/Descarga automatica BOM con referencias.xlsm" target="_self">BOMs con referencias</a></p>
                </td>
                <td>
                    <p><b>Descarga automatica de BOMs de PCBs con referencias:</b></p>
                    <p>Este archivo te servira para descargar la BOM de una ilimitada cantidad de numeros de parte, usualmente utilizada para enviar informacion a ingenieros de placement.
                    <br>
                    <br>
                    <b>Recomendiaciones de uso:</b> Para ejecutar es necesario tener abierta la aplicacion de SAP, colocar los numeros de parte de las PCBs con terminacion 00 y una vez finalizada podras revisar el file en la carpeta de descargas.
                    </p>
                </td>
                <td>
                    <img src="/Digitalizacion_SAP_MES/assets/images/BOM_Referencias.PNG" alt="UX">
                </td>                    
            </tr>
            <tr>
                <td>
                    <p><a href="/Digitalizacion_SAP_MES/assets/RPAs/Transaccion Masiva SE16D.xlsm" target="_self">Consulta Masiva de tablas en SAP </a></p>
                </td>
                <td>
                    <p><b>Descarga automatica de informacion de tablas en SAP:</b></p>
                    <p>Este archivo te servira para descargar informacion de tablas como MARA, MARC, MLGN, MKAL, MARD, MBEW, MAST, MAPL, PGMI, STKO, LQUA, LTAP, junto con una breve descripcion del uso de cada tabla.
                    <br>
                    <br>
                    <b>Recomendiaciones de uso:</b> Para ejecutar es necesario tener abierta la aplicacion de SAP, ya que la informacion es obtenida directamente de esta aplicacion.
                    </p>
                </td>
                <td>
                    <img src="/Digitalizacion_SAP_MES/assets/images/Consulta de Tablas.png" alt="UX">
                </td>                    
            </tr>               
        </tbody>    
    </table>
</div>